* {
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    cursor: pointer;
    background: #3B5BDB;
}

.nav-list {
    display: flex;
    margin-left: 152px;
}

.nav-list li {
    list-style: none;
    padding: 24px;
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-list li:hover {
    background-color: #364FC7;
}

/* mobile navbar */

.mobileNavbar {
    cursor: pointer;
    background: #3B5BDB;
}

.nav-list-mobile {
    display: none;
}

.nav-list-mobile h3 {
    padding: 24px;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.nav-list-mobile li {
    padding: 24px;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

.hamburgerButton {
    width: 1.5em;
    margin-left: 1em;
}


/* search box */

.searchBox{
    display: flex;
    margin-bottom: 1.5em;
}

.searchBox input[type=text] {
    height: 48px;
    width: 90%;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 25px;
}

.searchBox button {
    height: 48px;
    width: 10%;
    cursor: pointer;
    background: #3B5BDB;
    border: none;
    border-radius: 0 3px 3px 0;
}

.searchBox button:hover {
    background-color: #364FC7;
}

.buttonIcon {
    max-width: 1.7em;
    min-width: 0.8em;
    margin: auto;
}

/* main content */

.flex-container {
    display: flex;
    margin: 56px 152px 158px 152px;
}

.columnLeft {
    flex: 63%;
}

.columnRight {
    flex: 32%;
    padding-left: 3%;
}

.mainContent {
    background-color: #FFF;
    margin-bottom: 1em;
}

.textArea {
    padding: 1em;
}

img {
    width: 100%;
}

.postHeading{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
}

.published{
    margin: 19px 0;
}

.mainText{
    font-size: 18px;
}

.tags{
    margin: 19px 0;
}

.columnLeft hr {
    margin-bottom: 19px;
}

.verticalList {
    list-style: none;
    column-gap: 1em;
}

ul.verticalList li {
    display: inline;
    margin-right: 12px;
}

section {
    margin-bottom: 2em;
}

.rightColumnHeadings {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.marginTop {
    margin-top: 1.75em;
}

.columnRight hr {
    margin-top:0.5em;
    margin-bottom: 1.5em
}

.rowContainer {
    display: flex;
    margin-bottom: 1.5em;
}

.circle {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.circleText {
    text-align: center;
    padding-top: 25%;
    font-style: normal;
    font-size: 17px;
    line-height: 16px;
}

.sideText {
    margin: auto 0;
}

.circleImage {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-right: 1em;
}

.verticalRule {
    border-left: 2px solid #364FC7;
    margin-right: 0.5em;
}

p.commentsParagraph {
    margin: 0.5em 0 0.5em 0;

}

p.commentAuthor {
    padding-top: 0.5em;
}


/* some more frequently used colors */

.red {
    color: #FF0000;
}

.babyBlue{
    border-color: #A0F4DC;
}

.babyPink{
    border-color: #FCD3D4;
}

.green{
    color:  #008000;
}

.grey {
    color: #696969;
}

/* media queries */

@media (max-width: 1025px) {
    .flex-container {
        margin: 56px 40px 158px 40px;
    }
    .nav-list {
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .flex-container {
        flex-wrap: wrap;
        margin: 24px 16px 10px 16px;
    }

    .searchBox button {
        width: 20%;
    }

    .nav-list {
        display: none;
    }

    .nav-list-mobile {
        display: flex;
    }

}




